<!-- views/comments/partials/comment.hbs -->
<li class="comment">
  <p>{{text}}</p>
  <p class="author">Comment by {{user.username}}</p>
  <a href="/comments/edit/{{id}}">Edit</a>
  <a href="/comments/delete/{{id}}">Delete</a>
</li>