<!-- views/users/profile.hbs -->
{{#extend "layouts/main"}}
  {{#content "body"}}
    <h1>User Profile</h1>
    <p>Welcome, {{user.username}}!</p>
    <!-- Add user-specific content or actions here -->
  {{/content}}
{{/extend}}